.center {
  align-items: center;
  justify-content: center;
}

.left {
  align-items: flex-start;
  justify-content: center;
}

.right {
  align-items: flex-end;
  justify-content: center;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
